<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [hidden]="!showing" class="loading-item"><span>Cargando</span><ion-spinner class="spinner-energized"></ion-spinner></div>

  <ion-fab top right class="type-view-fab">
    <button ion-fab (click)="changeSlide()" class="type-view-btn">
      <ion-icon name="pin"></ion-icon> |  <ion-icon name="list"></ion-icon>
    </button>
  </ion-fab>
  <ion-slides  #sliders [pager]="false" >
    <ion-slide>
      <div *ngIf="companys">
        <agm-map #maps [latitude]="lat" [longitude]="lng" (idle)="reloadGasPrice()" (boundsChange)="cancelReloadGasPrice()"
                 (mapReady)="mapLoad($event)"
                 [draggable]="false" [zoom]="initialZoom" [streetViewControl]="false"
                 [styles]="styles"
                 [maxZoom]="15" [minZoom]="4">
          <div *ngFor="let comp of companys">
            <agm-marker [latitude]="comp.latitud" [longitude]="comp.longitud"
                        [label]="{color: 'black', text: '$' + comp.precio , fontWeight: 'bold', fontSize: '15px'}"
                        [title]="comp.empresa"
                        [iconUrl]="{url: (comp.empresabandera === 'YPF')? 'assets/companys/YPF.png' : (comp.empresabandera === 'SHELL C.A.P.S.A.') ? 'assets/companys/shell.png' : (comp.empresabandera === 'AXION') ? 'assets/companys/axion.jpeg' : (comp.empresabandera === 'PETROBRAS') ? 'assets/companys/petrobras.png' : (comp.empresabandera === 'ASPRO') ? 'assets/companys/Aspro.png' : (comp.empresabandera === 'ESSO PETROLERA ARGENTINA S.R.L') ? 'assets/companys/Esso.png' : (comp.empresabandera === 'OIL COMBUSTIBLES S.A.') ? 'assets/companys/OIL.png' : (comp.empresabandera === 'REFINOR') ? 'assets/companys/Refinor.jpg' : 'assets/companys/logo.png', scaledSize: { height: 40, width: 40 }, labelOrigin: {x: 18, y: 40}}">
              <agm-info-window>
                <p>
                  {{comp.empresa}} <br>
                  {{comp.direccion}}
                </p>
                <a>link</a>
              </agm-info-window>
            </agm-marker>
          </div>
        </agm-map>
      </div>

    </ion-slide>
    <ion-slide>
      <div *ngIf="companys">
        <ion-list class="fullwidth" >
          <ion-item-sliding *ngFor="let comp of companys">
            <ion-item >
              <ion-row>
                <ion-col col-3 text-center >
                  <img  text-center src="{{(comp.empresabandera === 'YPF')? 'assets/companys/YPF.png' : (comp.empresabandera === 'SHELL C.A.P.S.A.') ? 'assets/companys/shell.png' : (comp.empresabandera === 'AXION') ? 'assets/companys/axion.jpeg' : (comp.empresabandera === 'PETROBRAS') ? 'assets/companys/petrobras.png' : (comp.empresabandera === 'ASPRO') ? 'assets/companys/Aspro.png' : (comp.empresabandera === 'ESSO PETROLERA ARGENTINA S.R.L') ? 'assets/companys/Esso.png' : (comp.empresabandera === 'OIL COMBUSTIBLES S.A.') ? 'assets/companys/OIL.png' : (comp.empresabandera === 'REFINOR') ? 'assets/companys/Refinor.jpg' : 'assets/companys/logo.png' }}">
                </ion-col>
                <ion-col col-6>
                   <p>
                     <ion-icon name="cash"></ion-icon> {{(comp.idproducto === '2') ? 'Nafta Super' : (comp.idproducto === '3') ? 'Nafta Premium' : (comp.idproducto === '21') ? 'Euro Diesel' : (comp.idproducto === '19') ? 'Diesel 500' : 'GNC' }} ${{comp.precio}}
                  </p>
                  <p>
                    <ion-icon name="pin"></ion-icon> {{comp.direccion}}, {{comp.localidad}}
                  </p>
                </ion-col>
              </ion-row>
              <ion-icon name="ios-arrow-forward" item-right ></ion-icon>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="positive"></button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Empresa</ion-label>
          <ion-select  [(ngModel)]="company" interface="popover" (ionChange)="reloadGasPrice()" end>
            <ion-option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item >
          <ion-label>Combustible</ion-label>
          <ion-select [(ngModel)]="gasType" interface="popover" (ionChange)="reloadGasPrice()">
            <ion-option value="2">Nafta Super</ion-option>
            <ion-option value="3">Nafta Premium</ion-option>
            <ion-option value="21">Euro Diesel (gr 3)</ion-option>
            <ion-option value="19">Diesel 500 (gr 2)</ion-option>
            <ion-option value="6">GNC</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
