page-home {

  agm-map {
    height: 500px;
    margin: 0px;
    padding: 0px;
  }

  .marker-class {
    color: red;
  }

  //.agm-map-container-inner .sebm-google-map-container-inner{
  //}

  ion-slide.swiper-slide {
    align-items: flex-start;
  }

  .type-view-fab {
    margin: 15px;
    width: 20%;
  }

  .type-view-btn {
    width: 100%;
    color: #8c8c8c;
    background-color: white;
  }

  .fab {
    border-radius: 15%;
  }

}
