<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right class="type-view-fab">
    <button ion-fab (click)="changeSlide()" class="type-view-btn">
      <ion-icon name="pin"></ion-icon> |  <ion-icon name="list"></ion-icon>
    </button>
  </ion-fab>
  <ion-slides  #sliders [pager]="false" >
    <ion-slide>
      <!--[disableDoubleClickZoom]="true"  [clickableIcons]="false" [disableDefaultUI]="true" [scrollwheel]="false"  [zoomControl]="false" [gestureHandling]="'none'"-->
      <!--iconUrl-->
      <div *ngIf="companys">
        <agm-map #maps [latitude]="lat" [longitude]="lng" (mapReady)="mapLoad($event)"
                 [draggable]="false" [zoom]="15" [streetViewControl]="false"
                 [styles]="styles"
                 [maxZoom]="15" [minZoom]="10">
          <div *ngFor="let comp of companys">
            <agm-marker [latitude]="comp.latitud" [longitude]="comp.longitud"
                        [label]="{color: 'black', text: '$' + comp.precio , fontWeight: 'bold', fontSize: '15px'}"
                        [title]="comp.empresa"
                        [iconUrl]="{url: (comp.idempresabandera === '2')? 'assets/imgs/YPF.png' : (comp.idempresabandera === '1') ? 'assets/imgs/shell.png' : (comp.idempresabandera === '3') ? 'assets/imgs/axion.jpeg' : (comp.idempresabandera === '4') ? 'assets/imgs/petrobras.png' : 'assets/imgs/logo.png', scaledSize: { height: 40, width: 40 }, labelOrigin: {x: 18, y: 40}}">

              <agm-info-window>
                <p>
                  YPF Sucursal 4 <br>
                  Av. Aca mismo 666
                </p>
                <a>link</a>
              </agm-info-window>
            </agm-marker>
          </div>
        </agm-map>
      </div>

    </ion-slide>
    <ion-slide>

      <ion-list class="fullwidth" >
        <ion-item-sliding>
          <ion-item >
            <ion-row>
              <ion-col col-3 text-center >
                <img  text-center src="assets/imgs/YPF.png">
              </ion-col>
              <ion-col col-6>
                 <p>
                   <ion-icon name="cash"></ion-icon> Nafta premium $37,80
                </p>
                <p>
                  <ion-icon name="pin"></ion-icon> Ecuador 1341, Neuquen
                </p>
              </ion-col>
            </ion-row>
            <ion-icon name="ios-arrow-forward" item-right ></ion-icon>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="positive"></button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-slide>
  </ion-slides>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Empresa</ion-label>
          <ion-select [(ngModel)]="company" interface="popover" (ionChange)="searchGas()" end>
            <ion-option value="2">YPF</ion-option>
            <ion-option value="4">Petrobras</ion-option>
            <ion-option value="3">Axxion</ion-option>
            <ion-option value="1">shell</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item >
          <ion-label>Combustible</ion-label>
          <ion-select [(ngModel)]="gasType" interface="popover" (ionChange)="searchGas()">
            <ion-option value="2">Nafta Super</ion-option>
            <ion-option value="3">Nafta Premium</ion-option>
            <ion-option value="21">Euro Diesel (gr 3)</ion-option>
            <ion-option value="19">Diesel 500 (gr 2)</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
